<div class="col-md-6 px-2">
    <div class="shadow rounded p-5">
        <h2><%= catalog.title %></h2>
        <img class="img-fluid my-1" src=" <%= catalog.fileCover %> " alt="<%= catalog.title %>">
        <hr>
        <p><strong>Автор</strong> <%= catalog.authors %> </p>
        <p><strong>Избранное</strong> <% if (catalog.favorite == "true") { %> <i class="bi bi-bookmark-plus"></i> <%} else { %> <i class="bi bi-patch-minus"></i> <% } %> </p>
        <p><strong>Издатель</strong> <%= catalog.fileName %> </p>
        <hr>
        <h4>Oписание</h4>
        <p><%= catalog.description %></p>

        <% if (catalog.fileBook == "none") { %>
            
            <p class="display-3 link-secondary"> Нет файла <%= catalog.fileBook %> </i</p>
        
        <%} else { %>
        
            <a class="display-3 link-secondary" href="<%= catalog.fileBook %>"><i class="bi bi-file-earmark-text"></i></a>
        
        <% } %>
        

        <form id="deleteform" action="/catalog/delete/<%= catalog.id %>" method="POST" class=""></form>

        <div class="btn-group w-100 mt-4" role="group" aria-label="Basic example">
            <a href="/catalog/edit/<%= catalog.id %>" type="button" class="btn btn-secondary"><i class="bi bi-pencil-square"></i></a>
            <button form="deleteform" class="btn btn-secondary"><i class="bi bi-trash" aria-hidden="true"></i></button>
        </div>
    </div>
</div>