<%- include('./block/head') %>
<%- include('./block/menu') %>
<%- include('./block/mainblock') %>
<div class="container my-5">
    <div class="row">
        <%- include('./block/book') %>
    </div>
</div>
<%- include('./block/footer') %>